.user-sidebar-container {
  display: flex;
  flex-direction: column;
  padding: 1.5em;
}

/* not logged in */
.user-sidebar-container h2 {
  margin: 0.5em 0;
}

/* when logged in */
.profile-pic {
  width: clamp(8em, 90%, 10em);
  aspect-ratio: 1/1;
  align-self: center;
}

.profile-pic:hover {
  filter: brightness(1.1);
}

.siderbar-info-no-pic {
  margin-top: 0.5em;
}