* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#root {
	min-width: 360px;
}

/* when new users are created */
.fresh-user-popup {
	position: absolute;
	z-index: 100;
	width: clamp(360px, 33%, 500px);
	height: 60vh;
	padding: 3em;
	background-color: rgb(255, 255, 255);
	left: 50%;
	transform: translateX(-50%);
	display: flex;
	flex-direction: column;
}

.fresh-user-popup .card-container {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.fresh-user-popup .card-container a {
	margin: 0;
	min-width: 2em;
	margin-left: auto;
}

.fresh-user-popup button {
	margin-top: auto;
}

/* header */
.page-header {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0.5em 5em;
	position: fixed;
	height: 4em;
	top: 0;
	left: 0;
	right: 0;
	min-width: 360px;
	z-index: 1000;
}

/* banner */
.logo-n-search-container {
	display: flex;
	flex-direction: row;
	height: 100%;
}

#logo {
	min-height: 2.5em;
	max-height: 100%;
	padding-right: 2em;
}

.search-form {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	align-items: center;
	justify-content: left;
	height: 100%;
}

.search-form button {
	display: flex;
}


.menu {
	flex-wrap: nowrap;
	position: relative;
	display: inline;
	white-space: nowrap;
	/* ???? */
}

/* three dots for "login, sign up" buttons are not shown when width is big */

.three-dots-dropdown-content {
	display: flex;
	width: 10em;
}

.three-dots-dropdown-content a {
	width: 100%;
}


/* when signed in */
.post-n-setting-buttons {
	display: flex;
	flex-direction: row;
}

#post-button {
	margin-right: 1em;
}

@media (max-width: 1400px) {
	#searchField {
		width: clamp(200px, 40vw, 600px);
	}
}

@media (max-width: 1024px) {
	#searchField {
		width: clamp(200px, 40vw, 400px);
	}
}

@media (max-width: 850px) {}

@media (max-width: 768px) {
	.page-header {
		padding-left: 0;
		padding-right: 0;
	}

	.page-header {

		justify-content: center;
	}

	.logo-n-search-container {
		margin-right: 1em;
	}

	#searchField {
		width: clamp(100px, 50vw, 400px);
	}

	#post-button {
		padding: 0;
	}


}

@media (max-width: 540px) {
	#searchField {
		width: clamp(100px, 65vw, 380px);
	}

	#logo {
		display: none;
	}
}

/* general */
.hidden {
	visibility: hidden;
}

.do-not-display {
	display: none;
}

h1 {
	font-size: x-large;
}