.content {
	display: flex;
	flex-direction: row;
}

.blog-home {
	width: 80%;
	border: 1px black;
	border-style: solid;
}

aside {
	width: 20%;
	min-width: 20em;
	border: 1px black;
	border-style: solid;
}

@media (max-width: 860px) {
	.blog-home {
		width: 100%;
	}

	aside {
		display: none;
	}
}