/* Welcome pop up window */
.chakra-portal .css-1u2cvaz {
	max-width: 80vw;
	top: 10vh;
	left: 10vw;
}
.welcome-content-container {
	display: flex;
	flex-direction: row;
	margin: 2em 0;
}

.welcome-content-container p {
	margin-right: 1em;
}

/* content for home page */
.content {
	display: flex;
	flex-direction: row;
	margin-top: 4em;
	height: calc(100vh - 4em);
	/* overflow-y: scroll;
	-webkit-overflow-scrolling: touch; */
	width: 100%;
	/* border: 1px black;
	border-style: solid; */
	justify-content: center;
	padding: 0.5em 2em 0 2em;
}

.blog-home {
	width: 80%;
	margin-top: 2em;
	padding: 0 1em;
	overflow-x: hidden;
	overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

.blog-home::-webkit-scrollbar {
	display: none;
}

.mini-profile-pic {
	width: 25px;
	border-radius: 5px;
}

.post-preview-title {
	margin-top: 10px;
	margin-bottom: 10px;
}

.post-preview-content {
	max-height: 7.5rem;  /* Set maximum height for the content */
  overflow: hidden;    /* Hide overflowed content */
  text-overflow: ellipsis;  /* Add '...' when content overflows */
  display: -webkit-box;
  -webkit-line-clamp: 5;  /* Limit to 3 lines */
  -webkit-box-orient: vertical;
  white-space: normal;    /* Allow wrapping of text */
}

aside {
	width: clamp(15em, 20%, 20em);
	margin-top: 2em;
}


@media (max-width: 850px) {
	.blog-home {
		width: 100%;
	}

	aside {
		display: none;
	}
}

@media (max-width: 540px) {
	.blog-home {
		padding: 0 1em;
	}
	.content {
		padding: 0.5em 0 0 0;
	}
}

@media (max-width: 480px) {
	.blog-home {
		padding: 0;
	}
}