.comment-post-fullview {
  margin-top: 20px;
}

.comment-preview{
  margin-top: 10px;
  max-height: 7.5rem;  /* Set maximum height for the content */
  overflow: hidden;    /* Hide overflowed content */
  text-overflow: ellipsis;  /* Add '...' when content overflows */
  display: -webkit-box;
  -webkit-line-clamp: 5;  /* Limit to 5 lines */
  -webkit-box-orient: vertical;
  white-space: normal;    /* Allow wrapping of text */
}

.comment-posts-card-stack{
  width: 100%;
}

.comments-posts-footer{
  margin-top: 7px;
  text-align: right;
  font-size: smaller;
}


.comment-form-container {
  width: 100%;
  margin-top: 30px;
  display: flex;
	flex-direction: column;
}

.comment-form-container h1 {
  margin-bottom: 20px;
}

.comment-form-container form {
  width: 92%;
  align-self: center;
  display: flex;
	flex-direction: column;
}

.comment-form-container form button {
  /* max-width: 15%; */
  min-width: 20px;
  align-self: flex-end;
}