.pfp-in-cards {
  height: 80px;
  aspect-ratio: 1/1;
  align-self: center;
  border-radius: 10px;
}

.post-preview-time {
  white-space: nowrap;
}

@media (max-width: 480px) {
  .pfp-in-cards {
    height: 50px;
  }
}