.settings-container {
  display: flex;
  flex-direction: column;
  width: 90%;
  height: auto;
  padding: 2em;
  overflow-y: scroll;
  position: relative;
}

.settings-content {
  /* border: 1px black;
  border-style: solid; */
  margin-top: 1em;
}

.setting-card {
  padding: 2em 1em;
  border-width: 0.5px;
  border-style: none none solid none;
  display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  min-height: 100px;
}

/* for account setting arrows */
.account-setting-options-container .setting-card button {
  position: absolute;
  left: 15em;
}

/* account settings */
.popup header {
  position: relative;
}

.popup-inner-content button {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* profile settings */
.profile-setting-options-container .setting-card img {
  width: 150px;
  height: 150px;
}

#magnified-pfp {

  border: 2px transparent;
  border-style: solid;
  border-radius: 0.5em;
}

.image-cropper-field {
  min-width: 300px;
  min-height: 340px;
  position: relative;
}

.reactEasyCrop_Container {
  width: 90%;
  height: 80%;
  align-self: center;
  justify-self: center;
}

.crop-button {
  position: absolute;
  top: 25em;
}

/* profile settings, from the 2nd one on */
.setting-card-content {
  position: absolute;
  left: 15em;
  display: flex;
  right: 1em;
  max-width: 400px;
}

@media (max-width: 768px) {
  .settings-container {
    width: 100%;
  }

  .setting-card-content {
    left: 10em;
    right: 1em;
  }

  #upload-pfp-button {
    left: 15em;
  }
}

@media (max-width: 480px) {

  .setting-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-setting-options-container .setting-card-content {
    position: relative;
    left: 0;
    margin-top: 2em;
  }

  #upload-pfp-button {
    position: relative;
    left: 0;
    margin-top: 2em;
  }
}

@media (max-width: 400px) {
  .settings-container {
    /* padding: 0; */
  }

  .settings-container h1 {
    margin-top: 1em;
    margin-left: 1em;
  }
}