.settings-container {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0 1em;
}

.settings-content {
  border: 1px black;
  border-style: solid;
  margin-top: 1em;
}

.setting-options-container {
  border: 1px black;
  border-style: solid;
}

.setting-card {
  padding: 1em 1em;
  border: 1px black;
  border-style: solid none;
  display: flex;
  flex-direction: row;
  align-items: center;
  /* position: relative; */
}


@media (max-width: 480px) {
  .profile-setting-options-container .setting-card {
    flex-direction: column;
    align-items: flex-start;
  }

  .profile-setting-options-container .setting-card-content {
    position: relative;
    left: 0;
  }

}

/* account settings */


.account-setting-options-container .setting-card button {
  min-width: 2em;
  max-height: 2em;
  aspect-ratio: 1/1;
  border: none;
  border-radius: 15%;
  position: absolute;
  left: 15em;
}

.account-setting-options-container .setting-card button:hover {
  background-color: aquamarine;
}

.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 2;
}

.popup-inner {
  position: relative;
  width: 30%;
  max-width: 500px;
  background-color: white;
  display: flex;
  flex-direction: column;
  min-width: 360px;
  align-items: center;
}

.popup-inner .close-button {
  width: 2em;
  align-self: flex-end;
}

.popup-inner-content {
  width: 70%;
  padding-top: 2em;
  padding-bottom: 4em;
}

.popup-inner-content form>* {
  margin: 0.5em 0;
}

.popup-inner form {
  display: flex;
  flex-direction: column;
  width: 100%;

}

.popup-inner label {
  margin-bottom: 0em;
}

.popup-inner form p {
  margin: 0;
  min-height: 1.3em;
}

/* profile settings */

.profile-setting-options-container .setting-card img {
  width: 150px;
  height: 150px;
}

.pfp-magnifier {
  background-color: rgba(0, 0, 0, 0.8);
  position: absolute;
  width: 480px;
  height: 480px;
  top: 10vh;
  left: 50%;
  transform: translateX(-50%);
  z-index: 3;
  display: flex;
  flex-direction: column;

}

@media (max-width: 480px) {
  .pfp-magnifier {
    width: 360px;

  }
}

.pfp-magnifier button {
  align-self: flex-end;
  width: 1.5em;
}

.setting-card .pfp-magnifier img {
  height: 300px;
  width: 300px;
  align-self: center;
  margin-top: 3em;
}

#update-photo-buttons {
  margin-left: 4em;
  margin-top: 1em;
  align-self: flex-start;
  display: flex;
  flex-direction: column;
  max-width: 200px;
}

#update-photo-buttons button {
  margin-top: 0.5em;
  width: 60%;
}

@media (max-width: 480px) {
  #update-photo-buttons {
    margin-left: 0em;
  }
}

.setting-card-content {
  position: absolute;
  left: 15em;
}