.userinfo-container {
  width: 90%;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 2em;
  overflow-y: scroll;
}

.userinfo-container::-webkit-scrollbar {
  display: none;
}

.userinfo-profile-pic {
  width: 120px;
  height: 120px;
  aspect-ratio: 1/ 1;
}

.basic-userinfo-container {
  display: flex;
  flex-direction: row;
  min-height: 120px;
}

.basic-nonpic-userinfo-container {
  padding: 0em 3em;
  width: calc(100% - 120px);
  min-height: 120px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.basic-nonpic-userinfo-container h1{
  margin-bottom: 1em;
}

.follow-button {
  max-height: 2em;
}

@media (max-width: 1024px) {
  .userinfo-container {
    width: 90%;
  }
}

@media (max-width: 768px) {
  .userinfo-container {
    width: 100%;
  }
}

@media (max-width: 650px) {
  .userinfo-profile-pic {
    width: 100px;
    height: 100px;
    aspect-ratio: 1/ 1;
  }

  .basic-userinfo-container {
    min-height: 100px;
  }

  .basic-nonpic-userinfo-container {
    width: calc(100% - 100px);
    padding: 0em 1em;
    min-height: 100px;
  }

  .basic-nonpic-userinfo-container h1{
    margin-bottom: 0.5em;
  }

}

@media (max-width: 480px) {
  .userinfo-container {
    padding: 0;
  }

  .basic-userinfo-container {
    justify-content: center;
    margin-top: 2.5em;
    /* margin-bottom: 0.5em; */
  }

  .userinfo-profile-pic {
    width: 60px;
    height: 60px;
    align-self: center;
    margin-left: 2em;
  }

  .basic-userinfo-container {
    min-height: 60px;
  }

  .basic-nonpic-userinfo-container {
    width: calc(100% - 60px);
    padding: 0 0 0 1em;
    min-height: 60px;
  }

  .basic-nonpic-userinfo-container h1{
    margin-bottom: 0;
  }

}

.more-userinfo-container {
  height: 100%;
  margin-top: 0.5em;
}